.formdiv{
    color: white;
    border: 1px solid red;
    position: absolute;
    left: 47%;
    bottom: 30vh;
    scale: 2;
}
.formdiv p{
    text-align: center;
    padding: 10px;
}
.inputfieldname{
    width: 90%;
    position: relative;
    right: 1%;
    margin: 10px;
}
.inputfieldtext{
    width: 90%;
    position: relative;
    right: 1%;
    height: 100px;
    margin: 10px;
}
.sb-1{
    position: relative;
    left: 40%;
    padding: 10px;
}
@media (max-height: 800px) {
    .formdiv{
        scale: 1.5;
    }
    
    
}