*{
    margin: 0%;
}

/*

==================

Sidebar navigation

==================

*/
h1{
    color: #CCCCCC;
    position: relative;
    left: 300px;
}


.mainside{
    background-color: #111213;
    width: 150px;
    height: 100vh;
}
.navigation-bar{
    position: absolute;
    top: 40%;
}
.navigation-list{
    width: 150px;
}
.navigation-ul1{
    display: contents;
    width: 150px;
    text-align: center;
}
.navigation-ul1 a{
    color: #CCCCCC;
    font-size: 18px;
    text-decoration: none;
}
.navigation-ul1 a:hover{
    color: aqua;
    font-size: 20px;
}
.navigation-ul1 hr{
    width: 150px;
    background-color: #6F6E6E;
    height: 1px;
    border: none;
}
.navigation-ul1 li{
    position: relative;
    top: 16px;
    height: 55px;
}
.navigation-ul2 li{
    position: relative;
    top: 70px;
    scale: 1.2;
    display: inline-block;
    justify-content: space-between;
    width: 32px;
    right: 6%;
}
.navigation-ul2 a{
    color: #CCCCCC;
    
}
.navigation-ul2 a:hover{
    color: aqua;
}

/*

==================

Sidebar ENDE

==================

*/
/*

==================

Contact Form Start

==================

*/
.conform{
    position: absolute;
    border: 1px solid red;
    border-radius: 17px;
    height: 70vh;
    color: #CCCCCC;
    width: 30vw;
    left: 39%;
    top: 12vh;
    background-color: black;
    
}
.conform p{
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
.conform form{
    position: relative;
    top: 180px;
    text-align: center;
    scale: 2;
}

/*

==================

Contact Form ENDE

==================

*/
@media (max-width: 1700px){
    .conform form{
        scale: 1.5;
        top: 110px;
    }
    .conform {
        height: 60vh;
    }
}
@media (max-width: 1400px){
    .conform form{
        scale: 1;
        top: 110px;
    }
    .conform {
        height: 60vh;
    }
}
@media (max-width: 1000px){
    .conform form{
        scale: .5;
        top: 110px;
    }
    .conform {
        height: 60vh;
    }
}
@media (max-height: 800px){
    .conform form{
        scale: 1.5;
    }
}