*{
    font-family: serif;
    margin: 0px;
}
.navigation-bar{
    background-color: #111213;
    width: 150px;
    height: 100vh;
    position: relative;
    bottom: 20px;
}

.navigation-bar a {
    font-size: 18px;
    position: fixed;
    text-decoration: none;
}
hr{
    height: 1px;
    background-color: #6F6E6E;
    border: none;
    position: relative;
    right: 40px;  
    width: 150px;
}

.navigation-list ul{
    position: relative;
    top: 100px;
    background-color: #111213;
}

.navigation-ul1 li{
    position: relative;
    top: 11px;
    display: block;
    justify-content: space-between;
    height: 45px;
}
.navigation-ul2 li{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    width: 28px;
    top: 70px;
    right: 5px;
}
.navigation-ul2{
    position: relative;
    bottom: 1px;
}

.navigation-ul2 li:hover{
    color: aqua;
}

.navigation-ul1 li a{
    color: #CCCCCC;
    padding: 0 0 0 80px;
    text-decoration: none;
    position: relative;
    right: 80px;
}
.navigation-ul2 li a{
    color: #CCCCCC;
    text-decoration: none;
    position: relative;
    right: 5px;
}

.navigation-list li a:hover{
    color: aqua;
    text-decoration: none;
}
.toggle-button{
    position:absolute;
    top: 1.3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 950px){
    .toggle-button{
        display: flex;
    }
    .navigation-list {
        display: none;
    }
    .navigation-bar {
        flex-direction: column;
        align-items: flex-start;
        height: 70px;
    }
    .navigation-list ul{
        width: 100%;
        flex-direction: column;
        margin: 80px;
    }
    .navigation-list li {
        text-align: center;
        padding: 7px;
    }
    .navigation-list li a{
        padding: .5rem 1rem;
        font-size: 17px;
    }
    .navigation-list.active{
        display: block;
    }
    .navigation-bar.active{
        height: 170px;
    }
}
.felixicon{
    position:relative;
}
/*
h1
*/
.s2div1{
    display: flex;
    position: relative;
    left: 18vw;
    bottom: 16vh;
    color: white;
    font-size: 80px;
    font-family: Calibri ;
}
.s2div1 p:hover{
    color: aqua;
}

/*
ALL HEADER
*/
.mb-0{
    color: #5e636e;
    position: relative;
    left: 17vw;
    font-size: 17px;
    bottom: 31vh;
    font-family: 'La Belle Aurore', cursive;
}
.mb-1 {
    color: #5e636e;
    position: relative;
    left: 17vw;
    font-size: 17px;
    bottom: 17vh;
    font-family: 'La Belle Aurore', cursive;
}
.mb-2 {
    color: #5e636e;
    position: relative;
    left: 17vw;
    font-size: 17px;
    bottom: 14vh;
    font-family: 'La Belle Aurore', cursive;
}
.mb-3 {
    color: #5e636e;
    position: relative;
    left: 17vw;
    font-size: 17px;
    bottom: 0vh;
    font-family: 'La Belle Aurore', cursive;
}